@use '../abstracts' as *;

.text-cardColor0{
  color:#557AFF;
}
.text-cardColor1{
  color:#3CC0FE;
}
.text-cardColor2{
  color:#FFA443;
}
.bg-cardColor0{
  background-color:#557AFF;
}
.bg-cardColor1{
  background-color:#3CC0FE;
}

.bg-cardColor2{
  background-color:#FFA443;
}