@use './abstracts' as *;

.border-1{
  border-width: 1px;
}

.box-shadow{
  box-shadow: 1px 15px 17px 2px #CFCFCF33;
}


.main-container > div:nth-of-type(1){
  overflow: auto;
  padding-bottom: 24px;
}

.topbar{
  z-index: 15;
}